*  @The-Compiler

qutebrowser/browser/history.py  @The-Compiler @rcorre
qutebrowser/completion/*  @The-Compiler @rcorre
qutebrowser/misc/sql.py  @The-Compiler @rcorre
tests/end2end/features/completion.feature  @The-Compiler @rcorre
tests/end2end/features/test_completion_bdd.py  @The-Compiler @rcorre
tests/unit/browser/test_history.py  @The-Compiler @rcorre
tests/unit/completion/*  @The-Compiler @rcorre
tests/unit/misc/test_sql.py  @The-Compiler @rcorre
