[flake8]
# E241: Multiple spaces after ,
# E265: Block comment should start with '#'
# checked by pylint:
# F401: Unused import
# E501: Line too long
# F821: undefined name
# F841: unused variable
ignore=E241,E265,F401,E501,F821,F841
max_complexity = 10
exclude = appdirs.py
