__pycache__
*.py~
*.pyc
*.swp
/build
/dist
/qutebrowser.egg-info
/pkg/pkg
/pkg/qutebrowser
/pkg/src
/pkg/qutebrowser-*.pkg.tar.xz
/setuptools-*.egg
/setuptools-*.zip
/qutebrowser/git-commit-id
/qutebrowser/3rdparty
/doc/*.html
/README.html
/CHANGELOG.html
/CONTRIBUTING.html
/FAQ.html
/INSTALL.html
/qutebrowser/html/doc/
/.venv
/.coverage
/htmlcov
/coverage.xml
/.coverage.*
/.tox
/testresults.html
/.cache
/.testmondata
/.hypothesis
/prof
/venv
TODO
/scripts/testbrowser_cpp/Makefile
/scripts/testbrowser_cpp/main.o
/scripts/testbrowser_cpp/testbrowser
/scripts/dev/pylint_checkers/qute_pylint.egg-info
