__pycache__
*.py~
*.pyc
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.un~
Session.vim
Sessionx.vim
*~
/build
/dist
/qutebrowser.egg-info
/pkg/pkg
/pkg/qutebrowser
/pkg/src
/pkg/qutebrowser-*.pkg.tar.xz
/setuptools-*.egg
/setuptools-*.zip
/qutebrowser/git-commit-id
/qutebrowser/3rdparty
/doc/*.html
/README.html
/qutebrowser/html/doc/
/.venv*
/.coverage
/htmlcov
/coverage.xml
/.coverage.*
/.tox
/testresults.html
/.cache
/.pytest_cache
/.testmondata
/.hypothesis
/.benchmarks
.mypy_cache
/prof
/venv
TODO
/scripts/testbrowser/cpp/webkit/Makefile
/scripts/testbrowser/cpp/webkit/main.o
/scripts/testbrowser/cpp/webkit/testbrowser
/scripts/testbrowser/cpp/webkit/.qmake.stash
/scripts/testbrowser/cpp/webengine/Makefile
/scripts/testbrowser/cpp/webengine/main.o
/scripts/testbrowser/cpp/webengine/testbrowser
/scripts/testbrowser/cpp/webengine/.qmake.stash
/scripts/dev/pylint_checkers/qute_pylint.egg-info
/scripts/dev/pylint_checkers/build
/misc/file_version_info.txt
/doc/extapi/_build
/misc/nsis/include
/misc/nsis/plugins
/wheels
