__pycache__
*.pyc
/build
/dist
/qutebrowser.egg-info
/pkg/pkg
/pkg/qutebrowser
/pkg/src
/pkg/qutebrowser-*.pkg.tar.xz
/setuptools-*.egg
/setuptools-*.zip
/qutebrowser/git-commit-id
# We can probably remove these later
/doc/*.html
/README.html
