# vim: ft=dosini fileencoding=utf-8:

[MASTER]
ignore=resources.py
extension-pkg-whitelist=PyQt5,sip
load-plugins=pylint_checkers.config,
             pylint_checkers.modeline,
             pylint_checkers.openencoding,
             pylint_checkers.settrace

[MESSAGES CONTROL]
disable=no-self-use,
        bad-builtin,
        fixme,
        global-statement,
        locally-disabled,
        too-many-ancestors,
        too-few-public-methods,
        too-many-public-methods,
        cyclic-import,
        bad-continuation,
        too-many-instance-attributes,
        blacklisted-name,
        too-many-lines,
        logging-format-interpolation,
        interface-not-implemented,
        broad-except,
        bare-except,
        eval-used,
        exec-used,
        file-ignored

[BASIC]
module-rgx=(__)?[a-z][a-z0-9_]*(__)?$
function-rgx=([a-z_][a-z0-9_]{2,50}|setUpModule|tearDownModule)$
const-rgx=[A-Za-z_][A-Za-z0-9_]{0,30}$
method-rgx=[a-z_][A-Za-z0-9_]{2,50}$
attr-rgx=[a-z_][a-z0-9_]{0,30}$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
variable-rgx=[a-z_][a-z0-9_]{0,30}$
class-attribute-rgx=[A-Za-z_][A-Za-z0-9_]{1,30}$
inlinevar-rgx=[a-z_][a-z0-9_]*$
docstring-min-length=3

[FORMAT]
max-line-length=79
ignore-long-lines=<?https?://

[SIMILARITIES]
min-similarity-lines=8

[VARIABLES]
dummy-variables-rgx=_.*

[CLASSES]
defining-attr-methods=__init__,__new__,setUp

[DESIGN]
max-args=10

[TYPECHECK]
ignored-classes=WebElementWrapper,AnsiCodes,UnsetObject
