# vim: ft=dosini fileencoding=utf-8:

[MASTER]
ignore=resources.py
extension-pkg-whitelist=PyQt5,sip
load-plugins=qute_pylint.config,
             qute_pylint.modeline,
             pylint.extensions.docstyle,
             pylint.extensions.emptystring,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.code_style,
             pylint.extensions.comparison_placement,
             pylint.extensions.for_any_all,
             pylint.extensions.docstyle,
             pylint.extensions.check_elif,
             pylint.extensions.typing,

persistent=n
py-version=3.6

[MESSAGES CONTROL]
enable=all
disable=locally-disabled,
        locally-enabled,
        suppressed-message,
        fixme,
        no-self-use,
        cyclic-import,
        blacklisted-name,
        logging-format-interpolation,
        logging-not-lazy,
        broad-except,
        bare-except,
        eval-used,
        exec-used,
        global-statement,
        wrong-import-position,
        duplicate-code,
        no-else-return,
        no-else-continue,
        too-many-ancestors,
        too-many-public-methods,
        too-many-instance-attributes,
        too-many-lines,
        too-many-return-statements,
        too-many-boolean-expressions,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        too-few-public-methods,
        import-outside-toplevel,
        bad-continuation,  # This lint disagrees with Black
        consider-using-f-string,
        logging-fstring-interpolation,
        raise-missing-from,
        consider-using-tuple,
        consider-using-namedtuple-or-dataclass,

[BASIC]
function-rgx=[a-z_][a-z0-9_]{2,50}$
const-rgx=[A-Za-z_][A-Za-z0-9_]{0,50}$
method-rgx=[a-z_][A-Za-z0-9_]{1,50}$
attr-rgx=[A-Za-z_][A-Za-z0-9_]{0,30}$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{1,30}|(__.*__))$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
variable-rgx=[a-z_][a-z0-9_]{0,30}$
docstring-min-length=3
no-docstring-rgx=(^_|^main$)
class-const-naming-style = snake_case

[FORMAT]
max-line-length=88
ignore-long-lines=(<?https?://|file://|^# Copyright 201\d|link:)
expected-line-ending-format=LF

[VARIABLES]
dummy-variables-rgx=_.*

[DESIGN]
max-args=10

[CLASSES]
valid-metaclass-classmethod-first-arg=cls

[TYPECHECK]
ignored-modules=PyQt5,PyQt5.QtWebKit
ignored-classes=DummyBox,__cause__

[IMPORTS]
known-third-party=sip
