dist: xenial
language: python
group: edge
python: 3.6
os: linux

matrix:
  fast_finish: true
  include:
    ### Archlinux QtWebKit
    - env: DOCKER=archlinux
      services: docker

    ### Archlinux QtWebEngine
    - env: DOCKER=archlinux-webengine QUTE_BDD_WEBENGINE=true
      services: docker

    ### PyQt 5.7.1 (Python 3.5)
    - python: 3.5
      env: TESTENV=py35-pyqt571
    ### PyQt 5.7.1
    - env: TESTENV=py36-pyqt571

    ### PyQt 5.9
    - env: TESTENV=py36-pyqt59

    ### PyQt 5.10
    - env: TESTENV=py36-pyqt510
      addons:
        apt:
          packages:
          - xfonts-base

    ### PyQt 5.11 (with coverage)
    - env: TESTENV=py36-pyqt511-cov
    ### PyQt 5.11 (Python 3.7)
    - python: 3.7
      env: TESTENV=py37-pyqt511

    ### PyQt 5.12
    - env: TESTENV=py36-pyqt512
      addons:
        apt:
          packages:
          - libxkbcommon-x11-0

    ### macOS sierra
    - os: osx
      env: TESTENV=py37-pyqt511 OSX=sierra
      osx_image: xcode9.2
      language: generic
    ### macOS yosemite
    # https://github.com/qutebrowser/qutebrowser/issues/2013
    # - os: osx
    #   env: TESTENV=py35 OSX=yosemite
    #   osx_image: xcode6.4

    ### pylint/flake8/mypy
    - env: TESTENV=pylint
    - env: TESTENV=flake8
    - env: TESTENV=mypy

    ### docs
    - env: TESTENV=docs
      addons:
         apt:
           packages:
           - asciidoc

    ### vulture/misc/pyroma/check-manifest
    - env: TESTENV=vulture
    - env: TESTENV=misc
    - env: TESTENV=pyroma
    - env: TESTENV=check-manifest

    ### eslint
    - env: TESTENV=eslint
      language: node_js
      python: null
      node_js: "lts/*"

    ### shellcheck
    - language: generic
      env: TESTENV=shellcheck
      services: docker

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/build/qutebrowser/qutebrowser/.cache

install:
  - bash scripts/dev/ci/travis_install.sh
  - ulimit -c unlimited

script:
  - bash scripts/dev/ci/travis_run.sh

after_success:
  - '[[ $TESTENV == *-cov ]] && codecov -e TESTENV -X gcov'

after_failure:
  - bash scripts/dev/ci/travis_backtrace.sh
