sudo: false
dist: trusty
language: python
group: edge

matrix:
  include:
    - os: linux
      env: TESTENV=py34-cov
    - os: linux
      env: DOCKER=debian-jessie
      services: docker
    - os: linux
      env: DOCKER=archlinux
      services: docker
    - os: linux
      env: DOCKER=archlinux-webengine QUTE_BDD_WEBENGINE=true
      services: docker
    - os: linux
      env: DOCKER=ubuntu-xenial
      services: docker
    - os: linux
      python: 3.6
      env: TESTENV=py36-pyqt571
    - os: linux
      python: 3.6
      env: TESTENV=py36-pyqt58
    - os: linux
      python: 3.5
      env: TESTENV=py35-pyqt59
    - os: linux
      python: 3.6
      env: TESTENV=py36-pyqt59
    - os: osx
      env: TESTENV=py36 OSX=elcapitan
      osx_image: xcode7.3
    # https://github.com/qutebrowser/qutebrowser/issues/2013
    # - os: osx
    #   env: TESTENV=py35 OSX=yosemite
    #   osx_image: xcode6.4
    - os: linux
      env: TESTENV=pylint PYTHON=python3.6
      python: 3.6
    - os: linux
      env: TESTENV=flake8
    - os: linux
      env: TESTENV=docs
    - os: linux
      env: TESTENV=vulture
    - os: linux
      env: TESTENV=misc
    - os: linux
      env: TESTENV=pyroma
    - os: linux
      env: TESTENV=check-manifest
    - os: linux
      env: TESTENV=eslint
  allow_failures:
    - os: osx
      env: TESTENV=py36 OSX=elcapitan
      osx_image: xcode7.3
  fast_finish: true

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/build/qutebrowser/qutebrowser/.cache

before_install:
  # We need to do this so we pick up the system-wide python properly
  - 'export PATH="/usr/bin:$PATH"'

install:
  - bash scripts/dev/ci/travis_install.sh
  - ulimit -c unlimited

script:
  - bash scripts/dev/ci/travis_run.sh

after_success:
  - '[[ $TESTENV == *-cov ]] && codecov -e TESTENV -X gcov'

after_failure:
  - bash scripts/dev/ci/travis_backtrace.sh

notifications:
  webhooks:
    - https://buildtimetrend.herokuapp.com/travis
  irc:
    channels:
      - "chat.freenode.net#qutebrowser-dev"
    on_success: always
    on_failure: always
    skip_join: true
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "%{compare_url} - %{build_url}"
