{% extends "base.html" %}

{% block script %}
// workaround functions for old webkit versions
// workaround Array.prototype.find & lambdas
Object.prototype.findPairIn = function(target) {
        for (let i = 0, keys = Object.keys(this); i < keys.length; i++) {
                if (keys[i] in target) {
                        return [keys[i], this[keys[i]]];
                }
        }
        
        return [null, null];
}

// workaround destructive assignment
Object.prototype.destruct = function(arr) {
	for (let i = 0, keys = Object.keys(this); i < keys.length; i++) {
		this[keys[i]] = arr[i];
	}

	return this;
}

const STATE_BACK = "back";
const STATE_FORWARD = "forward";
const HIDDEN = {state:null, event:null}.destruct({
	"hidden": "visibilitychange",
	"webkitHidden": "webkitvisibilitychange"
	}
	.findPairIn(document));

function switch_state(new_state) {
	history.replaceState(
		new_state,
		document.title,
		location.pathname + location.hash);
}

function go_back() {
	switch_state(STATE_FORWARD);
	history.back();
}

function go_forward() {
	switch_state(STATE_BACK);
	history.forward();
}

if (!HIDDEN.state) {
	document.write(
		"Guess what time it is? " +
		"It's time to update your javascript engine " +
		"as we don't go anywhere with your current build.");
	throw "unsupported";
}

// there are three states
// default: register focus listener,
//	    on focus: go back and switch to the state forward
// back: user came from a later history entry
//	 -> switch to the state forward,
//	    forward him to the previous history entry
// forward: user came from a previous history entry
//	 -> switch to the state back,
//	    forward him to the next history entry
switch (history.state) {
	case STATE_BACK:
		go_back();
		break;
	case STATE_FORWARD:
		go_forward();
		break;
	default:
		if (!document[HIDDEN.state]) {
			go_back();
			break;
		}
		
		document.addEventListener(HIDDEN.event, go_back);
		break;
}
{% endblock %}

{% block content %}
<noscript><p>Javascript isn't enabled. So you need to manually go back in history to restore this tab.</p></noscript>
<p>If you see this site something went wrong, or you reached the end of the history, or you disabled javascript.</p>
{% endblock %}
