{% extends "base.html" %}

{% block style %}
{{ super() }}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    color: #333333;
    background-color: #EEEEEE;
    font-size: 1.2em;
}

#content-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px 20px;
}

p#bigx {
    font-size: 500%;
    text-align: center;
    margin: 10px;
    padding: 0;
}

p.url {
    color: #111111;
    text-align: center;
}

{% endblock %}

{% block content %}
<div id="content-container">
    <p id="bigx">&#x2716;</p>
    <p>The download was cancelled, the PDF can't be shown!</p>
    <p class="url"><a href="{{ url }}">Click here to try again</a></p>
</div>
{% endblock %}
