{% extends "base.html" %}

{% block style %}
.title {
    color: #1f84bd;
}
.title-header {
}
h3 {
    font-size: 45px;
}
h6 {
    font-size: 20px;
}
.bookmark-container {
    margin: 20px;
}
a {
    color:#000000;
    text-decoration: none;
}
.bookmark-mega-container {
    border-size: 3;
    border-color: #1f84bd;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}
h4 {
    font-size: 30px;
    padding: 10px;
}
.getting-started-container {
    border-size: 3;
    border-color: #1f84bd;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}
.logo {
    width:75px;
    height: 75px;
    padding: 10px;
}
.title-container {
    text-align: center;
    display: flex;
    align-items: center;
    max-width:500px;
    margin:auto;

}
.link-container {
    margin: 20px;
}
input {
    font-size: 16px;
}
{% endblock %}

{% block script %}
const searchUrl = "{{ search_url }}"
function search(e) {
    if (e.keyCode == 13) {
	var val = document.getElementById("search-field").value;
	window.open(searchUrl + val)
    }
}
{% endblock %}


{% block content %}
<div class="title-container">
  <img src="https://qutebrowser.org/icons/qutebrowser.svg" class="logo">
  <span>
    <h3 class="title">qutebrowser</h3>
  </span>
</div>
<div class="search-box title-container" id="search">
<input type="text" size="50" name="search-box" placeholder="Search..." onkeypress="return search(event)" id="search-field"/> 
</div>
{% if bookmarks %}
<div class="bookmark-mega-container">
  <h4>Bookmarks</h4>
  {% for bookmark in bookmarks %}
  <div class="bookmark-container">
    <a class="bookmark-name" href="{{ bookmark[0] }}"> {{ bookmark[1] }} </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if quickmarks %}
<div class="bookmark-mega-container">
  <h4>Quickmarks</h4>
  {% for quickmark in quickmarks %}
  <div class="bookmark-container">
    <a class="bookmark-name" href="{{ quickmark[0] }}"> {{ quickmark[1] }} </a>
  </div>
  {% endfor %}
</div>
{% endif %}
<div class="getting-started-container">
  <h4>Getting Started.</h4>
  <div class="link-container">
    <a class="link-name" href="https://qutebrowser.org">Official Website</a>
  </div>
  <div class="link-container">
    <a class="link-name" href="https://raw.githubusercontent.com/qutebrowser/qutebrowser/master/doc/img/cheatsheet-big.png">Cheat Sheet</a>
  </div>
  <div class="link-container">
    <a class="link-name" href="https://qutebrowser.org/doc/changelog.html">Changelog</a>
  </div>
</div>
{% endblock %}

