{% extends "base.html" %}
{% block style %}
h1, p {
    margin-left: 3rem;
}

pre {
    margin-left: 6em;
}
{% endblock %}
{% block content %}
<h1>
    {{ title }}
</h1>
<p>
    <em>Group for tree tabs</em>
</p>
<pre>
{% raw %}
                       _.
                _~.:'^%^ >@~.
             ,-~              ? =*=
           $^_`  `  , '   ,    +   -.,
        (*-^. , *            ;'       >
      >.      ,>    .     ' .,.,.      %-.,_ ,.-,
      #    ' ` " - "     *    .,.      *   .^    `
     *@!    ., *    ' '    ,    ;'   '         .  %!
      &       "  .`      :'              `   '   . `~,
     &    '        .`  '   '  .     '":   :          +.
     ^      .",  ,       `      '   `   * , '   `      |
      ]     *   .   , ""]   ..    ` . , `  , "  . . '  ,;,
      %  '         ::,  ,   /    ,            '   ,     ;
    .* ,*    /       *%     \  .  .  *'  `    ,    '     '.
   ?     > .   ,      ::. :;^^.     %`      '        `     @
  /   '   `/      `    &#@%^^      `&``   `     %;;       %
 ;:       :%   *  *  :$%)\      '  `@%$        @%^      ,).
 .    #    %&^     (!*^ .\,.   `      ^@%^  $#%%^  `   >
 \           :#$%  #^&#   :   `  *      %###$%@!       &
  |  '  *     %$#@)$*}]           `     `#@#%%^      *^
   :     *'  *  @%&&^:$   `  '   `%%.  #$$$^^-,     7
    &;            @#$~~   '   `     @#$%&      $,*.-
     *...*^  .._   %$$#@!   @ .,  *&&#@
         :..^   -   !%&@}{#&     @#$@%
                 --_..%#%%$#&% #&%$#;:
                        $%#^%#@@%%*&;;
                         a%##@%%@% ;:;
                           %####j#:::;
                            &#%Rj;%;;:
                            &#%%#;::;
                            $#%##:%::
                            "#%%#;:;
                           ."$###:::
                           #&$%%#:;:
                           %&#%%#::;
                           %&%###;::
                           &&#%%#:;;
                          *@&#%#};:;
                          $#%#%%^:::
                         *@#$#%#;::;:
                        %%@#$####@$:;:
                    ...%###pinusc@$%%:._____
{% endraw %}

</pre>
{% endblock %}
