@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	src: url(OpenSans-Regular.ttf) format("truetype");
	src: local('Open Sans'), local('OpenSans'), url(OpenSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	src: url(OpenSans-Bold.ttf) format("truetype");
	src: local('Open Sans'), local('OpenSans'), url(OpenSans-Bold.ttf) format('truetype');
}
