ebb-lint==0.4.4
flake8==2.5.4
flake8-copyright==0.1
flake8-debugger==1.4.0
flake8-deprecated==1.0
flake8-docstrings==0.2.6
flake8-future-import==0.4.0
flake8-mock==0.2
flake8-pep3101==0.3
flake8-putty==0.3.2
flake8-string-format==0.2.2
flake8-tidy-imports==1.0.0
flake8-tuple==0.2.9
hacking==0.11.0
intervaltree==2.1.0
mccabe==0.4.0
packaging==16.7
pbr==1.10.0
pep257==0.7.0  # still needed by flake8-docstrings but ignored
pep8==1.7.0
pep8-naming==0.3.3
pydocstyle==1.0.0
pyflakes==1.2.3
pyparsing==2.1.4
six==1.10.0
sortedcontainers==1.5.2
venusian==1.0
